/*@import "navbar";
@import "reserva";
$colorbg: white;
$colorfnt: black;*/

body{
    /*position: relative; 
    display: flex;
    align-items: center;
    justify-content: center; */
    background: url("../images/main2.jpg") no-repeat center center fixed;
    background-position: left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

p{
    color: white;
}

.pblack{
    color: black;
}

/*
.transp{
    background-color: rgba($color: #0000, $alpha: .8);
}

.letratam{
    font-size: 1rem;
}

.footerDiv{
    background-color: black;
    min-height: 150px;
    width: 1500px;
}

.comtainerINdex{
    width: 100%;
}

p{
    font-size: 1rem;
}
*/
